@import "../../styles/variables";

.tag {
  display: inline-block;
  background-color: $color-tertiary-variant;
  border-radius: 2em;
  padding: 0.1em 0.5em;

  & a {
    text-decoration: none;
  }

  & p {
    color: #fff;
  }

  &:hover {
    background-color: $color-secondary;
  }
}

.lowercase {
  text-transform: lowercase;
}
