@import "variables";

:root {
  --primaryColor: $color-primary;
  --secondaryColor: $color-secondary;
  --tertiaryColor: $color-tertiary;
  --tertiaryVariantColor: $color-tertiary-variant;
  --bgColor: $color-background;
  --textColor: $color-text;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  box-sizing: border-box;
  color: $color-text;
  background-color: $color-background;
  margin: 0;
}
