/**
 *  Mobile
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;

  box-sizing: border-box;
}

.aside,
.main {
  position: relative;
  box-sizing: border-box;
}

.aside {
  margin-top: 4rem; // 84px
}

.main {
  margin-top: 0.9375rem; // 15px
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.card-profile {
  display: none;
}

.footer {
  margin-top: 3.75rem; // 60px
}

.margin-top-md {
  margin-top: 1.25rem; //20px
}

/**
 *  Tablet
 */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/**
 *  Laptop 1024px
 */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    flex-direction: row;
  }

  .aside,
  .main {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3.125rem; //50px
  }

  .aside {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .main {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .nav {
    position: unset;
    z-index: unset;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .card-profile {
    display: block;
  }
}

/**
 *  Laptop > 1024px
 */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
