.card_post {
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0.625rem; // 10px;
  width: 100%;
  min-height: 16.25rem; // 260px
  box-sizing: border-box;
  transition: box-shadow 300ms, transform 300ms;

  & .post_img {
    height: 10rem;
    overflow: hidden;
  }

  & .post_detail {
    padding-top: 0.625rem;
  }

  & .post_tags {
    margin-top: 1.25rem; // 20px

    & .tag_item {
      margin: 0 0.625rem 0 0;
    }
  }

  & a {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
    -moz-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.margin_top_xxs {
  margin-top: 0.3125rem; // 5px
}
