.margin-right-xs {
  margin-right: 0.625rem; // 10px
}

.margin-top-xss {
  margin-top: 0.3125rem; // 5px
}

.margin-top-xs {
  margin-top: 0.625rem; // 10px
}

.margin-top-md {
  margin-top: 1.25rem; // 20px
}

.margin-top-lg {
  margin-top: 3.125rem; // 50px
}
