.card_profile {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1.875rem 1.25rem 1.25rem; // 30px 20px 20px
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0 20%;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag_item {
  margin: 0 0.625rem 0.625rem 0;
}

.margin_top_md {
  margin-top: 1.875rem; // 30px
}

.margin_top_xs {
  margin-top: 0.625rem; // 10px
}

.margin_top_xxs {
  margin-top: 0.3125rem; // 5px
}
