.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.margin-bottom-md {
  margin-bottom: 1.25rem; // 20px
}

/**
 *  Tablet
 */
@media (min-width: 768px) {
  .post-item {
    width: 50%;
    padding: 0 0.625rem; // 10px
    box-sizing: border-box;
  }
}
